Example/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_XYZ" />
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_XYZ" minOccurs="0" name="cust" nillable="true" type="q1:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_XYZ" minOccurs="0" name="GetCustomersResult" nillable="true" type="q2:ArrayOfCustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersForUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qtdValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersForUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_XYZ" minOccurs="0" name="GetCustomersForUpdateResult" nillable="true" type="q3:ArrayOfCustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_XYZ" minOccurs="0" name="cust" nillable="true" type="q4:ArrayOfCustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_XYZ" minOccurs="0" name="SetCustomersResult" nillable="true" type="q5:ArrayOfCustomerError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>