Example/Service References/ServiceReference1/WCF_XYZ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_XYZ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_XYZ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustAddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustBirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustCellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustId" type="xs:int" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustZip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="ArrayOfCustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerData" nillable="true" type="tns:CustomerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerData" nillable="true" type="tns:ArrayOfCustomerData" />
  <xs:complexType name="ArrayOfCustomerError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerError" nillable="true" type="tns:CustomerError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerError" nillable="true" type="tns:ArrayOfCustomerError" />
  <xs:complexType name="CustomerError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerData" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerError" nillable="true" type="tns:CustomerError" />
</xs:schema>